.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

.about-ui {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 35px;
   align-items: stretch;
}

.about-ui.left-bar, .about-ui.right-bar {
    border-radius: 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--color_white);
    max-width: 525px; 
}

.about-ui.right-bar:hover,
.about-ui.left-bar:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(241, 241, 241, 0.2);
    animation: siyanie 5s infinite;
}


@keyframes siyanie {
    0% {
        box-shadow: 0 8px 20px rgba(241, 241, 241, 0.2);
    }
    50% {
        box-shadow: 0 8px 20px rgba(241, 241, 241, 0.8);
    }
    100% {
        box-shadow: 0 8px 20px rgba(241, 241, 241, 0.2);
    }
}


@media (max-width: 860px) {
    .about-ui {
        flex-direction: column;
        align-items: center;
    }
}

/* Адаптивные стили */
@media (max-width: 1028px) {
    .about-ui.left-bar, .about-ui.right-bar {
        padding: 15px;
        width: 100%; 
    }
}

@media (max-width: 420px) {
    .about-ui.left-bar, .about-ui.right-bar {
        width: 90%; 
        padding: 10px; 
    }

    .about-ui.left-bar .logo-container h2,
    .about-ui.right-bar .logo-container h2 {
        font-size: 24px;
    }

    .about-ui.left-bar .text-block p,
    .about-ui.left-bar .text-block h3,
    .about-ui.right-bar .text-block p,
    .about-ui.right-bar .text-block h3 {
        font-size: 18px; 
    }

    .about-ui {
        gap: 10px;
    }
}