.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.modal-image {
    border-radius: 20px;
    max-width: 878px;      
}

.close {
    position: absolute;
    top: -50px;
    right: -50px;
    font-size: 64px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.close:hover {
    opacity: 0.85;
}