.vizit-card {
    display: flex;
    align-items: center;
    gap: 120px;
}

.vizit-card .left, .right {
    display: flex;
    height: 100%;
    flex-direction: column;
}

/* left */

.vizit-card .left {
    height:100%;
    justify-content: center;
    gap: 90px;
}

.vizit-card .left .text-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vizit-card .left h1 {
    font-size: 128px;
    font-family: var(--font_inria-sans);
    font-weight: 400;
}


.vizit-card .left h2 {
    font-size: 64px;
    line-height: 70px;
    font-family: var(--font_montserrat);
    font-weight: 400;
}

.vizit-card .left h3 {
    font-family: var(--font_inria-sans);

}


.vizit-card .left span.symbols {
    font-size: 50px;
    font-weight: 300;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pixel {
    font-family: var(--font_pixel-sans);
    font-size: 64px;
}


/* right */

.vizit-card .right {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    transition: all 1s ease;
}

.vizit-card .right h3 {
    font-size: 36px;
    font-weight: 400;
}

.vizit-card .right .logo {
    height: 487px;
}


.fade {
    animation: fade-in 0.5s forwards;
}

.fade-out {
    animation: fade-out 0.5s forwards;
}

   @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}




/* Для экранов до 1200px */
@media (max-width: 1200px) {
    .vizit-card {
        gap: 80px;
    }

    .vizit-card .left h1 {
        font-size: 100px;
    }

    .vizit-card .left h2 {
        font-size: 48px;
    }

    .vizit-card .left span.symbols {
        font-size: 40px;
    }

    .vizit-card .right h3 {
        font-size: 30px;
    }

    .vizit-card .right .logo {
        height: 400px;
    }
}

/* Для экранов до 992px */
@media (max-width: 992px) {
    .vizit-card {
        flex-direction: column-reverse; /* Изменяем направление */
        align-items: center; /* Центрируем элементы */
    }

    

    .vizit-card .left h1 {
        font-size: 80px;
    }

    .vizit-card .left h2 {
        font-size: 32px;
    }

    .vizit-card .left span.symbols {
        font-size: 36px;
    }

    .vizit-card .right h3 {
        font-size: 28px;
    }

    .vizit-card .right .logo {
        height: 300px;
    }
}

/* Для экранов до 600px */
@media (max-width: 600px) {
    .vizit-card {
        gap: 40px; /* Уменьшаем промежуток */
    }

    .vizit-card .left h1 {
        font-size: 64px;
    }

    .vizit-card .left h2 {
        font-size: 36px;
    }

    .vizit-card .left span.symbols {
        font-size: 30px;
    }


    .vizit-card .right .logo {
        height: 200px;
    }
}

/* Дополнительно для маленьких экранов (например, мобильные) */
@media (max-width: 400px) {
    .vizit-card {
        gap: 20px; /* Уменьшаем промежуток */
    }

    .vizit-card .left h1 {
        font-size: 48px;
    }

    .vizit-card .left h2 {
        font-size: 28px;
    }

    .vizit-card .left span.symbols {
        font-size: 24px;
    }

    .vizit-card .right h3 {
        font-size: 20px;
    }

    .vizit-card .right .logo {
        height: 150px;
    }
}
