.vizit-card {
    display: flex;
    flex-direction: column;
}

.vizit-card .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vizit-card .top-bar .left .text-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.vizit-card .top-bar .left .text-block h1 {
    font-family: var(--font_inria-sans);
    font-weight: 400;
    font-size: 128px;
}

.vizit-card .top-bar .left .text-block h2 {
    font-family: var(--font_montserrat);
    font-weight: 400;
    font-size: 64px;
    line-height: 1.25;
}

.vizit-card .top-bar .left span.symbols {
    font-size: 50px;
    font-weight: 300;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.vizit-card .top-bar .right .logo {
    transition: filter 300ms;
    transition: 1s all ease;
    width: 487px; /* фиксированная ширина для десктопа */
}

.logo:hover {
    filter: drop-shadow(0 0 0.5em var(--color_pink));
    opacity: 0.90;
}

.pixel {
    font-family: var(--font_pixel-sans);
    font-size: 64px;
}

.vizit-card .bottom-bar {
    display: flex;
    align-items: end;
    justify-content: space-between;
}


.vizit-card .bottom-bar h3 {
    flex-grow: 1;
    font-weight: 300;
    width: 100px;
    font-size: 36px;
    text-wrap: nowrap;
    max-width:480px;
}

/* Анимации */
.fade {
    animation: fade-in 0.5s forwards;
}

.fade-out {
    animation: fade-out 0.5s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



/* Адаптивные стили */
@media (max-width: 1280px) {
    .vizit-card .top-bar .left .text-block h1 {
        font-size: 96px; 
    }
    .vizit-card .top-bar .left .text-block h2 {
        font-size: 48px;
    }
    .vizit-card .top-bar .right .logo {
        width: 400px; 
    }
    .vizit-card .bottom-bar h3 {
        font-size: 32px;
        max-width: 400px;
    }
    .navBar ul li a {
        font-size: 20px;
    }
    .vizit-card .top-bar .left span.symbols {
        font-size: 46px;
    }
    .pixel {
        font-size: 48px;
    }
}



@media (max-width: 980px) {
    .vizit-card .top-bar .left .text-block h1 {
        font-size: 64px; 
    }
    .vizit-card .top-bar .left .text-block h2 {
        width: 300px;
        font-size: 32px;
    }
    .vizit-card .top-bar .right .logo {
        width: 300px; 
    }
    .vizit-card .bottom-bar h3 {
        font-size: 24px; 
        max-width: 290px;
    }
    .vizit-card.button {
        width: 280px;
        height: 80px;
    }
    .vizit-card.button p {
        font-size: 28px;
    }
        .vizit-card .top-bar .left span.symbols {
        font-size: 36px;
    }
    .pixel {
        font-size: 32px;
    }
    
}

@media (max-width: 780px) {

    
    .vizit-card .top-bar, .vizit-card .bottom-bar {
        flex-direction: column-reverse;
        align-items: center;    
    }

    .vizit-card {
        gap: 35px;
    }
    .vizit-card .bottom-bar h3 {
        text-align: start;
        font-size: 24px; 
        width: 100%;
    }
    .vizit-card .bottom-bar {
        gap: 15px;
        align-items: center;
    }

    .vizit-card .bottom-bar .button {
        font-size: 20px; 
    }
}

@media (max-width: 480px) {

    .navBar ul li a {
        font-size: 16px;
    }

    .navBar ul {
        gap: 35px;
    }

    .vizit-card .top-bar .left .text-block h1 {
        font-size: 56px;
      }

    .vizit-card .bottom-bar h3 {
        font-size: 20px;
        max-width: 250px;
    }
}

