.main {
    display: grid;
    height: flex;
    row-gap: 220px;
}

.main .block-1 {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.main .block-5 {
    display: flex;
    flex-direction: column;
    gap: 220px;
    padding-bottom: 15px;
}

