* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent; /* Убрать выделение для мобильных браузеров */
    outline: none; /* Удалить обводку */
}

:root {
    user-select: none;
    width: 100%;
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font_montserrat);
    color: var(--color_white);
    background: linear-gradient(180deg, #232323 0%, #1a1d24 11%);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    /* variables */

    /* colors */
    --color_gray: #232323;
    --color_white: #f1f1f1;
    --color_pink: #ce817b;
    --color_black: #1a1d24;

    /* fonts */
    --font_montserrat: "Montserrat", sans-serif;
    --font_inria-sans: "Inria Sans", sans-serif;
    --font_pixel-sans: "Pixelify Sans", sans-serif;
    --font_montserrat-alt: "Montserrat Alternates", serif;
}

:root::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color_white);
  }
  :root::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color_gray);
  }
  
  :root::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--color_white);
  }

a {
    text-decoration: none;
    color: var(--color_gray);
    transition: all 0.3s ease;
}

a:hover {
    opacity: 0.85;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
    padding-inline: 35px;
    padding-top: 35px;
}

/* color modificators */
.white {
    color: var(--color_white);
}

.pink {
    color: var(--color_pink);
}

.gray {
    color: var(--color_gray);
}

h1 {
    font-family: var(--font_monsterrat);
    font-weight: 400;
    font-size: 64px;
    color: var(--color_white);
}


@media (max-width: 860px) {
    h1 {
        font-size: 48px;
    }
}

.button-default {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8.5px 20px;
    border-radius: 20px;
    background-color: var(--color_white);
    transition: all 0.3s ease;
    
}

.button-default p {
    font-weight: 400;
    font-size: 24px;
    color: var(--color_gray);
}

.button-default:hover {
    opacity: 0.85;
}

.button-default:active {
    transform: scale(0.95); /* Уменьшение кнопки при нажатии */
    opacity: 0.5;
}